*
!narrative_engine.py
!web_platform/
!web_platform/**
**/.venv
**/.venv/**
**/__pycache__
**/__pycache__/**
**/*.sqlite3*
**/.env*
**/staticfiles
**/staticfiles/**
**/*.pyc
**/node_modules
**/node_modules/**

!semantic_engine.py
!publisher.py
!analysis_engine.py

!openai_notes.py
